<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="cn.lntu.group07.mappers.UserMapper">

    <resultMap type="cn.lntu.group07.pojo.User" id="UserMap">
		<id column="id" property="userId"/>
		<result column="username" property="userNickName"/>
		<result column="email" property="userEmail"/>
		<result column="password" property="userPassword"/>
		<result column="name" property="userName"/>
		<result column="phone" property="userPhone"/>
		<result column="address" property="userAddress"/>
		<result column="isadmin" property="userIsAdmin"/>
    </resultMap>
<!--	向User表插入一条记录，包含username、email、password字段-->
	<insert id="insertUser">
		insert into user values(null,#{userNickName},#{userEmail},#{userPassword},'','','',false);
	</insert>

	<!--	从user表检索手机号和密码同时匹配的一条记录-->
	<select id="selectOneByUserPhoneAndUserEmail" resultMap="UserMap">
		select * from user where email = #{userEmail} and password = #{userPassword} limit 1;
	</select>

</mapper>
